<h1>Thanks for shopping.</h1>
<div class="card" style="width: 18rem;">
	<img src="<%= image_path("money") %>" class="card-img-top">
	<div class="card-body">
		<h5 class="card-title">About</h5>
		<div class='text-primary'>
			<p>Manager: Nguyen Hoang Son</p>
			<p>Phone: 0389141150</p>
			<p>Address: Phuoc Long, Loc Hoa, Long Ho, Vinh Long</p>
		</div>
	</div>
</div>
